spring:
  application:
    name: auth-service
  profiles:
    active: dev
  config:
    import: "configserver:http://localhost:8888"
  cloud:
    config:
      uri: http://localhost:8888
      username: ${CONFIG_SERVER_USERNAME}
      password: ${CONFIG_SERVER_PASSWORD}
      fail-fast: true
      retry:
        initial-interval: 1000
        max-attempts: 6
        max-interval: 2000
        multiplier: 1.1

# Local fallback configuration (will be overridden by Config Server)
server:
  port: 8081

jwt:
  private-key-path: "classpath:jwt_private.pem"
  public-key-path: "classpath:jwt_public.pem"
