spring:
 application:
  name: auth-service
 datasource:
  url: jdbc:postgresql://localhost:5432/auth_service_db
  username: postgres
  password: eqfleqrd1
  driver-class-name: org.postgresql.Driver
profiles:
  active: local

jwt:
 key:
  private: ${JWT_PRIVATE_KEY}
  public: ${JWT_PUBLIC_KEY}
