HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Security & Keys
.secret/
.secrets/
*.pem
*.key
*.p12
*.jks
*.keystore
*.truststore
jwt_private.pem
jwt_public.pem

# Application configs
application-dev.yml
application-dev.properties
application-prod.yml
application-prod.properties
